body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #eef2ff, #f8fafc);
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.center-box {
  max-width: 400px;
  margin: 100px auto;
}

.card {
  background: white;
  padding: 20px;
  margin: 15px 0;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

.input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.btn {
  padding: 10px 16px;
  border-radius: 8px;
  background: #4f46e5;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background: #4338ca;
}

.navbar {
  background: #4f46e5;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.done {
  color: green;
  font-weight: bold;
}

.overdue {
  color: red;
  font-weight: bold;
}